@import "/home/alostora/.config/gtk-4.0/colors.css";

window {
  border-radius: 3px;
  opacity: 0.97;
  border: 2px solid @accent_color;

  background-color: @window_bg_color;
}

imag{
  color: @accent_rolor;
}

label {
  font-family: 'JetBrainsMono Nerd Font Mono Regular';
  font-size: 11pt;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @accent_color;
}
