* {
    /* Background shades */
    bg0: #101417;
    bg1: #181c20;
    bg2: #1c2024;
    bg3: #262a2e;

    /* Foreground shades */
    fg0: #dfe3e7;
    //fg0: #cdc0e9;
    fg1: #00344d;
    fg2: #c1c7ce;
    fg3: #41484d;

    /* Material theme mapping (optional for Waybar modules) */
    primary: #94cdf6;
    secondary: #b7c9d8;
    tertiary: #cdc0e9;
    error: #ffb4ab;
    outline: #8b9198;
}
