* {
    /* Background shades */
    bg0: #0f1417;
    bg1: #171c1f;
    bg2: #1b2023;
    bg3: #252b2d;

    /* Foreground shades */
    fg0: #dee3e6;
    //fg0: #c5c3ea;
    fg1: #003545;
    fg2: #c0c8cc;
    fg3: #40484c;

    /* Material theme mapping (optional for Waybar modules) */
    primary: #8ad0ee;
    secondary: #b4cad5;
    tertiary: #c5c3ea;
    error: #ffb4ab;
    outline: #8a9296;
}
