/* Written by Kalpakavindu <kalpadevonline@gmail.com> */

@import "/home/alostora/.cache/waybar/colors.css";

$text: #cdd6f4;
$subtext0: #a6adc8;

* {
  all: unset;
  // font-size: 14px;
  font-family: "Ubuntu Nerd Font";
  transition: 200ms;
}

.notification-row {
  outline: none;

  .notification-background {
    border-radius: 10px;
    margin: 10px;
    color: $text;
    padding: 0;

    .close-button {
      margin: 5px;
      padding: 2px;
      border-radius: 6.3px;
      color: $background;
      background-color: rgba($foreground, 0.2);
      transition: background 0.15s ease-in-out;

      &:hover {
        background-color: rgba($foreground, 0.5);
        color: $background;
      }

      &:active {
        background-color: rgba($foreground, 0.5);
        color: $background;
      }
    }
  }
}

.notification {
  padding: 5px 7px;
  border-radius: 10px;
  border: 1px solid rgba($foreground, 0.2);
  background-color: rgba($background, 0.7);

  .notification-content {
    margin: 5px;
    background-color: transparent;

    .image {
      min-width: 48px;
      min-height: 48px;
      border-radius: 7px;
      margin-right: 7px;
      transform-origin: top;
      -gtk-icon-size: 48px;
    }

    .app-icon {
      margin-bottom: -2px;
      margin-right: 5px;
    }

    .summary {
      color: $text;
      margin-bottom: 5px;
    }

    .time {
      color: rgba($text, 0.8);
      font-size: 10px;
    }

    .body {
      color: rgba($text, 0.7);
      font-size: 12px;
    }
  }

  .notification-action {
    border-radius: 7px;
    color: $text;
    background-color: rgba($foreground, 0.1);
    margin: 7px;
    padding: 4px;
    transition: background 0.15s ease-in-out;

    &:hover {
      background-color: rgba($foreground, 0.3);
      color: $text;
    }

    &:active {
      background-color: rgba($foreground, 0.3);
      color: $text;
    }
  }

  .notification-default-action {
    .notification-content {
      .text-box .time {
        font-size: 10px;
      }

      progressbar {
        margin-top: 4px;
        background-color: $color7;
      }

      .body-image {
        // The "extra" optional bottom notification image
        margin-top: 4px;
        background-color: white;
        border-radius: 7px;
      }

      .inline-reply {
        margin-top: 4px;

        .inline-reply-entry {
          background: rgba($foreground, 0.05);
          color: rgba($text, 0.8);
          caret-color: $text;
          border: 1px solid rgba($foreground, 0.1);
          border-radius: 7px;
        }

        .inline-reply-button {
          margin-left: 4px;
          background: rgba($foreground, 0.2);
          border: 1px solid rgba($foreground, 0.1);
          border-radius: 7px;
          color: $text;
          transition: background 0.15s ease-in-out;

          &:disabled {
            background: rgba($foreground, 0.05);
            color: rgba($text, 0.5);
          }

          &:hover {
            background-color: rgba($foreground, 0.3);
          }
        }
      }
    }
  }

  &.critical {
    border: 1px solid rgba($color13, 0.1);
    background-image: linear-gradient(
      135deg,
      rgba($color13, 0.7) -200%,
      rgba($background, 0.7) 70%
    );

    .notification-default-action {
      .notification-content {
        progressbar {
          background-color: $color10;
        }
      }
    }
  }
}

.control-center {
  border-radius: 10px;
  margin: 0px;
  background-color: rgba($background, 0.7);
  color: $text;
  padding: 10px;
  border: 1px solid rgba($foreground, 0.2);

  .notification-row .notification-background {
    border-radius: 10px;
    color: $text;
    background-color: $background;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    margin-top: 5px;

    .notification {
      padding: 7px;
      border-radius: 10px;
      background-color: rgba($foreground, 0.05);
      border: 1px solid rgba($foreground, 0.1);

      &.critical {
        background-image: linear-gradient(
          135deg,
          rgba($color13, 0.3) -200%,
          rgba($foreground, 0.05) 70%
        );
      }

      .notification-action {
        border-radius: 7px;
        color: $foreground;
        background-color: rgba($foreground, 0.1);
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
        margin: 7px;

        &:hover {
          background-color: rgba($foreground, 0.5);
          color: $background;
        }

        &:active {
          background-color: rgba($foreground, 0.5);
          color: $background;
        }
      }
    }

    &:hover {
      box-shadow: inset 0 0 0 1px rgba(17, 17, 17, 0.2);
      color: $text;

      .notification {
        background-color: rgba($foreground, 0.1);
        border: 1px solid rgba($foreground, 0.2);
      }
    }

    &:active {
      box-shadow: inset 0 0 0 1px rgba(17, 17, 17, 0.2);
      color: $text;

      .notification {
        background-color: rgba($foreground, 0.1);
        border: 1px solid rgba($foreground, 0.2);
      }
    }
  }
}

.widget-title {
  & > label {
    color: $text;
    font-size: 1em;
  }

  button {
    border-radius: 10px;
    color: $text;
    background-color: rgba($foreground, 0.05);
    border: 1px solid rgba($foreground, 0.1);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;

    &:hover {
      background-color: rgba($foreground, 0.1);
    }

    &:active {
      background-color: $color11;
      color: $background;
    }
  }
}

.widget-mpris {
  .widget-mpris-player {
    margin: 5px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    .mpris-background {
      filter: blur(10px) brightness(0.4);
    }

    .widget-mpris-album-art {
      -gtk-icon-size: 80px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      min-width: 80px;
      min-height: 80px;
      background-size: cover;
      margin-left: 10px;
      margin-top: 10px;
    }

    .widget-mpris-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-right: 10px;
    }

    .widget-mpris-subtitle {
      font-size: 0.8rem;
      margin-right: 10px;
    }

    button {
      background-color: rgba($background, 0.5);
      padding: 5px;
      border-radius: 7px;
      margin-bottom: 5px;

      &:hover {
        background-color: rgba($background, 0.8);
      }
    }
  }
}
