* {
    /* Background shades */
    bg0: #101418;
    bg1: #181c20;
    bg2: #1c2024;
    bg3: #272a2e;

    /* Foreground shades */
    fg0: #e0e2e8;
    //fg0: #d2bfe7;
    fg1: #003352;
    fg2: #c2c7cf;
    fg3: #42474e;

    /* Material theme mapping (optional for Waybar modules) */
    primary: #9acbfa;
    secondary: #b9c8da;
    tertiary: #d2bfe7;
    error: #ffb4ab;
    outline: #8c9198;
}
